# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/*

.sdo
.sdo/*

*.sln.DotSettings.user

RakDotNet/bin
RakDotNet/bin/*

RakDotNet/obj
RakDotNet/obj/*

RakDotNet.ConsoleTest/bin
RakDotNet.ConsoleTest/bin/*

RakDotNet.ConsoleTest/obj
RakDotNet.ConsoleTest/obj/*

RakDotNet.Tests/obj
RakDotNet.Tests/obj/*

RakDotNet.Tests/bin
RakDotNet.Tests/bin/*

*.exe
/RakDotNet/.nuget/nuget_install.bat
